nav {
  position: absolute !important;
}

.header {
  line-height: 1;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.nav-link {
  color: #4d4d4d !important;
  letter-spacing: 1px;
  padding: .8rem;
}

.nav-link:hover, .active {
  color: #02c411 !important;
}
